Checks: "boost-*, bugprone-*, clang-analyzer-*, concurrency-*, cppcoreguidelines-*, misc-*, moderinze-*, performance-*, portability-*, readability-*, google-readability-casting, -readability-magic-numbers, -cppcoreguidelines-avoid-magic-numbers, -readability-identifier-length, -bugprone-easily-swappable-parameters, -cppcoreguidelines-pro-bounds-pointer-arithmetic, -cppcoreguidelines-pro-type-reinterpret-cast, -performance-no-int-to-ptr"
FormatStyle: file
